<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TS-Username" value="API User Name" />
    <add key="TS-ApiKey" value="API User Key" />
    <add key="TS-Branch" value="" />
    <add key="TS-Tag" value="" />
    <add key="TS-ApiUrl" value="" /> <!--// Provide url for testing destinaton or leave empty-->
    <add key="ProjectPath" value="Project Path to Scan" />
  </appSettings>
</configuration>